* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(59, 55, 117), rgb(33, 5, 83));
  background-repeat: no-repeat;
  color: #fff;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #fff;
  color: #210f5d;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.app-name-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.app-name-container img {
  width: 25px;
}

.app-name {
  font-weight: 500;
}

/* Header */
header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 500px;
}

search {
  width: 100%;
}

search input {
  border: none;
  border-radius: 2rem;
  padding: 0.8rem;
  outline: none;
  width: 100%;
}

.search-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

.languages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin-top: 2rem;
}

.languages-container button {
  cursor: pointer;
  background: #210f5d;
  color: #ab9bff;
  border: 2px solid #ab9bff;
  padding: 0.5rem 0.8rem;
  border-radius: 2rem;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 1rem;
  transition: 0.5s;
}

.languages-container button:hover,
.languages-container button.selected {
  background: #ab9bff;
  color: #210f5d;
}

/* Main/Cheat Sheets */
main {
  padding: 1rem;
}

.cheatsheet-container {
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 1rem;
}

.cheatsheet {
  background: #2d2b57;
  border: 2.5rem solid #ab9bff;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 650px;
  height: 500px;
  overflow-y: scroll;
}

.cheatsheet h3 {
  margin-bottom: 1rem;
}

.keypoints {
  margin-top: 1rem;
}

.keypoints code {
  background: #ab9bff;
  color: #2d2b57;
  border-radius: 0.25rem;
}

.keypoints li {
  margin-bottom: 1rem;
}

.secondary-list {
  margin-left: 1.5rem;
}

/* Footer */
footer {
  background: #fff;
  color: #2d2b57;
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 4rem 1rem;
  height: 500px;
  margin-top: 10rem;
}

footer div.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
}

footer p {
  margin: 1rem 0 0.5rem 0;
}

footer li {
  margin-left: 1.5rem;
}

footer a {
  color: #210f5d;
  font-weight: 700;
}

footer div.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

/* Buy me a coffee */
a.coffee {
  width: max-content;
}

a.coffee button {
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0.5rem;
  background: #210f5d;
  color: #fff;
  font-size: 1rem;
  transition: 0.5s;
}

a.coffee button:hover {
  background: #cbc8f9;
  color: #210f5d;
}

@media (max-width: 700px) {
  .cheatsheet {
    border-width: 1.2rem;
  }
}

@media (max-width: 700px) {
  footer {
    flex-direction: column;
  }
}
