* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(59, 55, 117), rgb(33, 5, 83));
  background-repeat: no-repeat;
  color: #fff;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #d5d6ff;
  color: #210f5d;
}

.app-name-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.app-name-container img {
  width: 25px;
}

.app-name {
  font-weight: 500;
}

/* Header */
header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 500px;
}

search {
  width: 100%;
}

search input {
  border: none;
  border-radius: 2rem;
  padding: 0.8rem;
  outline: none;
  width: 100%;
}

.search-icon {
  font-size: 1.8rem;
  cursor: pointer;
}
